<h1>Contacts</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Subject</th>
      <th>Subject contact</th>
      <th>Message</th>
      <th>Accepted</th>
      <th>Newsletter</th>
      <th>Automatic answer</th>
      <th>Manual answer</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.subject %></td>
        <td><%= contact.subject_contact.name if contact.subject_contact.present? %></td>
        <td><%=h truncate(contact.message, :length => 20) %></td>
        <td><%= contact.accepted %></td>
        <td><%= contact.newsletter %></td>
        <td><%= contact.automatic_answer %></td>
        <td><%= contact.manual_answer %></td>
        <td><%= link_to 'Answer', answer_contact_path(contact) %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>
