<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @contact.subject %>
</p>

<p>
  <strong>Subject contact:</strong>
  <%= @contact.subject_contact %>
</p>

<p>
  <strong>Message:</strong>
  <%= @contact.message %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @contact.accepted %>
</p>

<p>
  <strong>Newsletter:</strong>
  <%= @contact.newsletter %>
</p>

<p>
  <strong>Automatic answer:</strong>
  <%= @contact.automatic_answer %>
</p>

<p>
  <strong>Manual answer:</strong>
  <%= @contact.manual_answer %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
