<!DOCTYPE html>
<html>
  <head>
    <title>Module Contact - <%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container">
      <a class="navbar-brand" href="/">Our Logo</a>
      <form class="form-inline">
        <a class="btn btn-outline-primary" href="/login" role="button">
        Login
        </a>
        <div style="padding-left: 10px;">
          <a class="btn btn-outline-success" href="/signup" role="button">
          Sign Up
          </a>
        </div>
      </form>
      </div>
    </nav>
    <%= yield %>
    
        <script type="text/javascript">
      
      jQuery(document).ready(function() {
          
          $("#select_language_website").change(function(){
        		var url = $(this).val();
        		if (url) {
        			window.location = url;
        		}
        		return false;
          });
          
          // Flash Messages
          $(function(){
            var notice = "<%= flash[:notice] %>"
             $.notify(notice, "success" );
             
            var error = "<%= flash[:error] %>"
            $.notify(error, "error" );
             
            var alerta = "<%= flash[:alert] %>"
            $.notify(alerta, "warn" );
          });
          
      });
      
      </script>
  </body>
</html>
